h1{
 color:black;
 font-family:impact;
 background:blue;

}
h2{
 text-allign:center;
 }
body{
	text-align:center;
	color:Black;
	background:white;
	padding:100px;
	font-family:Candara;
	font-size:15px;
}